<div id="nav"><ul>	
	<li><%= link_to "Home", "#" %></li>
	<li><%= link_to "Roles / Skills", root_path %></li>
	<li><%= link_to "Education", education_path %></li>
	<li><%= link_to "Professional Exp.", exp_path %></li>
	<li><%= link_to "Others", other_path %></li>
</ul>
</div>