<div id="nav">
	<ul>	
		<li><%= link_to "Home", root_path %></li> |
		<li><%= link_to "Education", education_path %></li>  |
		<li><%= link_to "Showcase", showcase_path %></li> |
		<li><%= link_to "Work Exp.", exp_path %></li> |
		<li><%= render "layouts/cv" %></li> | 
		<li><%= link_to "Others", other_path %></li>
	</ul>
</div>