<!DOCTYPE html>
<html>
<head>
  <title>Vincent Yang's Portfolio | <%=  @title%></title>
	<%= stylesheet_link_tag "application", :media => 'screen'%>
	<!-- <%= javascript_include_tag "application" %> -->
	<%= favicon_link_tag 'favicon.ico'%>
</head>
<body>

<div id="bg">	
	<div class ="left_sidebar">
		<%= image_tag "name.png", :id => 'name'%>
		<%= render "layouts/cv" %>
		<%= render "layouts/nav"%>
	</div>
	<div class ="content">
		<div class = "contact">
			<%= render "layouts/contact_info" %>
		</div>
		<h2 class ="title">
			<%= @title %>
		</h2>
		<div class = "main">
			<%= yield %>
		</div>
	<div class="clear_both"></div>
	</div></div>
	<div class ="footer"><%= render "layouts/footer"%></div> <!-- add lastModified -->
</body>
</html>
